@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

html {
  line-height: 1.5;
}

.code-style {
  background-color: #e2e2e2; /* Nền xám đậm hơn */
  color: #000000; /* Chữ màu đen */
  padding: 2px 4px;
  border-radius: 4px;
  display: inline-block;
}



@layer base {}


/* 
@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
} */
